/* Body and structure
-------------------------------------------------- */
@font-face {
  font-family: 'a-hundred-miles.regular';
  src: url('fonts/a-hundred-miles.regular.eot');
  src: url('fonts/a-hundred-miles.regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/a-hundred-miles.regular.woff') format('woff'),
       url('fonts/a-hundred-miles.regular.ttf') format('truetype'),
       url('fonts/a-hundred-miles.regular.svg#a-hundred-miles.regular') format('svg');
     font-weight: normal;
     font-style: normal;
}


/* Navbar
-------------------------------------------------- */
.navbar .nav > li > a {
float: none;
padding: 13px 30px 0px;
color: #777777;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
}

.navbar-inner {
font-family: 'a-hundred-miles.regular', Helvetica, sans-serif;
font-size: 28px;
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #835930;
background-image: -moz-linear-gradient(top, #ffffff, rgb(255, 255, 255));
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(rgb(255, 255, 255)));
background-image: -webkit-linear-gradient(top, #ffffff, rgb(255, 255, 255));
background-image: -o-linear-gradient(top, #ffffff, rgb(255, 255, 255));
background-image: linear-gradient(to bottom, #ffffff, rgb(255, 255, 255));
background-repeat: repeat-x;
border: 1px solid #777777;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding-right: 0;
padding-left: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
border-width: 0 0 1px;
}

.navbar .brand {
font-size: 35px;
font-weight: 200;
color: #000000;
}